section {
    padding: 0 5%;
}

.main-container {
    background-clip: content-box;
    /* padding: 0 10%; */
}

.header {
    padding: 0 5% ;
}

img {
    pointer-events: none;
}

#draggable-image {
    pointer-events: inherit;
}
